/* Created by: PJ Lobetti
* Created on: April 2022
* This CSS file defines the style for index.html
* ICS2O-Unit4-02-HTML-ColdHot
*/

body {
	background-color: 
rgb(133, 213, 219);
}

h1 {
	background-color: 
rgb(242, 74, 74);
	color: 
hsl(200, 75%, 30%);
	padding: 40px;
	text-align: center;
}

p {
	background-color: 
#e6522dcc6;
}

div {
  	
  font-weight: bold;
  color: 
#e0350b;
  margin: 5px;
}

#display-results{
  background-color: 
#13a7d855a;
	font-size: 20px;
}